html body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  line-height: 1.5;
}
body {
  display: block;
  margin: 8px;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

nav {
  display: block;
}

main {
  display: block;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}
header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

li {
  display: list-item;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

section {
  display: block;
}

#main-doc header {
  text-align: left;
  margin: 0;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

p {
  display: block;
}

code {
  display: block;
  text-align: left;
  position: relative;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-family: monospace;
}

@media (min-height: 830px) {
  body {
    min-width: 100vh;
  }
}
